{% extends 'events/base.html' %}

    {% block content %}
    <div class="card">
      <div class="card-header">
        Venue
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ venue }}</h5>
        <p class="card-text">
            {{ venue.address }}<br/>
            {{ venue.zip_code }}<br/>
            {{ venue.phone }}<br/>
            {{ venue.email_address }}<br/>
            <a href="{{ venue.web }}">{{ venue.web }}</a><br/>
            {% if venue_owner.first_name %}
                Owner: {{ venue_owner.first_name }} {{ venue_owner.last_name }}<br/>
            {% else %}
                Owner: {{ venue_owner }} <br/>
            {% endif %}
            Owner's email: {{ venue_owner.email }}<br/>
            {% if venue.venue_image %}
                <img src="{{ venue.venue_image.url }}" width="500">
            {% endif %}
        </p>
      </div>
    </div><br/><br/>
    {% endblock %}

