{% extends 'events/base.html' %}

    {% block content %}
        <h1>Venues</h1><br/>
        <table class="table table-hover table-striped table-bordered">
            {% for venue in venues %}
            <tr>
                <td>
                    <a href="{% url 'show_venue' venue.id %}">{{ venue }} </a>
                </td>
                {% if user.is_authenticated %}
                <td align="right">
                    <a href="{% url 'update_venue' venue.id %}" class="btn btn-outline-secondary btn-sm" >Update</a>
                    <a href="{% url 'delete_venue' venue.id %}" class="btn btn-outline-danger btn-sm" >Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table><br/><br/>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if venues.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link">&laquo First</a></li>
                <li class="page-item"><a href="?page={{ venues.previous_page_number }}" class="page-link">Previous</a></li>
                {% endif %}
                {% for i in nums %}
                <li class="page-item"><a href="?page={{ forloop.counter }}" class="page-link"> {{ forloop.counter }} </a></li>
                {% endfor %}
                {% if venues.has_next %}
                <li class="page-item"><a href="?page={{ venues.next_page_number }}" class="page-link">Next</a></li>
                <li class="page-item"><a href="?page={{ venues.paginator.num_pages }}" class="page-link">Last &raquo</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endblock %}
